@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Pushster&display=swap');
*{font-family: 'Oswald', sans-serif;}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(10, 0, 0);
}
ul {
    list-style-type: none;
    margin: 16px 32px;
    overflow: hidden;
  }
  li {
    float: right;
  }
  .logo {
    float: left;
  }
  .logo:hover{
    background-color: white;

  }
  li :hover{
    background-color: rgb(177, 177, 177);
  }

li a {
    display: block;
    color: #3a3a3a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  }
.heading {
    text-align: center;
    padding-top: 75px;
}
.gambar>.gambar-gedung{
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.sejarah>.sejarah-p{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}
.sejarah>.sejarah-h{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
}
.sejarah-a{
    padding-left: 50px;
    max-width: 1200px;
    margin:0 auto;
    font-size: 1.4rem;
    line-height: 1.3em;
    @media only screen and (max-width: 768px) {
        font-size:1.4rem
        
        
    }
    
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer-main {
    background-color:#0063d4;
    padding: 24px 60px;
    color: white;
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 100%;
    justify-items: center;
  }
  
  @media (max-width: 1024px) {
    .footer-grid {
      padding-left: 20px;
    }
  }
  
  .footer-grid p {
    margin: 10px 0;
  }